 
body {
  background-image: url(/assets/img/backgroud10.jpg);
  background-size: cover;   
}
.dropdown-menu{
  background: #e6ecff;
  
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #f3f6fb;
  width: 84%;
  margin-left: 105px;
  background-image: url(/assets/img/backgroud10.jpg);
  background-size: cover;   
}
ul.breadcrumb li {
  display: inline;
  font-size: 13px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #000;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #2c4b78;
  text-decoration: underline;
}
.navbar-header{height:50px}
.navbar-brand{padding:10px 0px 15px 0px;}
.navbar-brand .mylogo
{height:70px;
}
.nav-bg-color{background: #39609a;}
.panel-menu a{color:#1073C6!important;}
.sub-nav-menu a{color:#333!important; font-size:20px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover
{
  background-color: #203556;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover
{background-color: #203556;
  
}
.header-panal{background: #AED6F1!important;color:#21618C!important;}
.navbar-default .navbar-nav>li>a{
  color:#fff!important;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 11px;
  overflow: hidden;
}
.navbar-default .navbar-nav>li>a{color:#fff!important;}

.navbar-default{
  
}


.red{
    background-color: #b00;
}
.blue{
  background-color: #cce0ff;
}
.blue2{
  background-color: #e6ecff;
}
.blue3{
  background-color: #4775d1;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

.panel  {
    border-color: #203556;
    background-image: url(/assets/img/backgroud6.jpg);
    margin-top: 10px;
    background-size: cover;   
  }

.panel-body{
  background-color: #f3f6fb;
  background-image: url(/assets/img/backgroud10.jpg);
  background-size: cover;   
}

.w3-sidebar{
  color: #fff!important;
  background-color: #3f69aa!important;
  z-index: 2;
}

.w3-button:hover {
  color: #000!important;
  background-color: #486a9e!important;
  
}

.w3-teal, .w3-hover-teal:hover {
  color: #fff!important;
  background-color: #39609a!important;
  margin-top: 5px;
  z-index: 2;
}







* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.menu{
  margin-left: 100px;
  margin-top: 80px;
  z-index: 1;
}

.menu ul {
  list-style: none;
}

.menu ul li{
background-color: #39609a;
width: 150px;
height: 50px;
text-align: center;
line-height: 35px;
float: left;
position:relative;
font-size: 13px;
z-index: 1;
}

.menu ul li a{
text-decoration: none;
color: #fff;
display: block;
font-size: 13px;

}

.menu ul li a:hover{
background: #2c4b78;
}

.menu ul ul {
margin:0px;
padding:0px;
position:absolute;
display:none;
}

.menu ul li:hover > ul{
display:block;
}


